* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #80808020;
}

#canvas {
    width: 100vmin;
    height: 100vmin;
    display: block;
    margin: auto;
    background-color: #9dd1a1;
    border-radius: 2%;
}