* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #80808020;
}

#app {
    width: 100vmin;
    height: 100vmin;
    margin: auto;
    position: relative;
}

#canvas {
    width: 100%;
    height: 100%;
    display: block;
    background-color: #9dd1a1;
    border-radius: 2%;
}

#controls {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    display: none;

    grid-template-areas:
    '. up .'
    'left pause right'
    '. down .';
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.button {
	background-size: 80%;
	background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.05;
}

#btn_up {
    grid-area: up;

	background-image: url(../icons/arrow-up.svg);
}

#btn_left {
    grid-area: left;

	background-image: url(../icons/arrow-left.svg);
}

#btn_pause {
    grid-area: pause;

	background-image: url(../icons/pause.svg);
}

#btn_pause[class*="paused"]{
	background-image: url(../icons/play.svg);
}

#btn_right {
    grid-area: right;

	background-image: url(../icons/arrow-right.svg);
}

#btn_down {
    grid-area: down;

	background-image: url(../icons/arrow-down.svg);
}

#restart {
    width: 32%;
    height: 32%;

    position: absolute;
    bottom: 8%;
    left: 34%;
    z-index: 3;

    background-size: 80%;
	background-repeat: no-repeat;
    background-position: center center;
	background-image: url(../icons/retry.svg);
    background-color: transparent;
}

#restart[class*="hidden"] {
    display: none;
}



/*media query breakpoint - sensor screen*/
@media (pointer:coarse) {

    #controls{
        display: grid;
    }
}