@font-face {
    font-family: 'HandwritingBook';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/HandwritingBook.ttf') format('truetype');
}

/****************************** COLOR SCHEME - BEGIN ******************************/
:root {
	--pure-black: #000000; 
	--pure-white: #ffffff;

	--btn-grey: #cbcbcb;
	--btn-green: #008000aa;
	--btn-focus-green: #008000cc;
	--checkbox-checked: #484f57;
	--editable-background: #e4e4e4;

	--item-red: #f44034;
	--item-yellow: #dec914;
	--item-green: #4daf51;
	--item-blue: #2196f3;
	--item-background: #e8e8e8;
}
/****************************** COLOR SCHEME - END ******************************/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#app {
	max-width: 768px;
    margin: auto;
    text-align: center;
}

#list {
	display: flex;
    flex-direction: column;
}

.item {
	height: 30vmin;

	margin: 0.5rem 0.5rem 0;

	display: flex;
	overflow: hidden;
	position: relative;

	border-top-left-radius: 15vmin;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 15vmin;
	
	box-shadow: 0px 0px 2px 1px var(--pure-black);

	background-color: var(--item-background);
}

.check-area {
	width: 20vmin;
	position: relative;
}

.check-area--green {
	background: linear-gradient(to right, var(--item-green) 0%, var(--item-green) 50%, var(--item-background) 100%);
}

.check-area--yellow {
	background: linear-gradient(to right, var(--item-yellow) 0%, var(--item-yellow) 50%, var(--item-background) 100%);
}

.check-area--red {
	background: linear-gradient(to right, var(--item-red) 0%, var(--item-red) 50%, var(--item-background) 100%);
}

.check-area--blue {
	background: linear-gradient(to right, var(--item-blue) 0%, var(--item-blue) 50%, var(--item-background) 100%);
}

.check-target {
	display: none;

	position: absolute;
    width: 20vmin;
	height: 100%;
	
	background-image: url(../icons/target.svg);
	background-size: 75%;
	background-repeat: no-repeat;
	background-position: center center;
}

.check-target--active {
	display: block;
}

.check-box {
	width: 10vmin;
    height: 10vmin;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 5vmin);
    left: calc(50% - 5vmin);
	background-color: var(--pure-white);
	box-shadow: inset 0px 0px 2px 1px var(--pure-black);
	cursor: pointer;
}

.check-box--checked {
	background-image: url(../icons/check.svg);
	background-size: 75%;
	background-repeat: no-repeat;
	background-position: center center;

	background-color: var(--checkbox-checked);
}

/*textarea reset styles*/
textarea {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none; /*remove the resize handle on the bottom right*/
}

.text-area {
	width: calc(100% - 20vmin - 64px);
    margin: 10px 0;
	overflow: hidden;
	border-radius: 5px;
	text-align: center;

	font-family: HandwritingBook, Helvetica, sans-serif;
	font-size: 1.7rem;

    background-color: var(--editable-background);
	border: 2px solid #00000011;
	color: var(--checkbox-checked);
}

.text-area:read-only {
	background-color: var(--item-background);
	border-color: var(--item-background);
	text-decoration: line-through;
}

.menu-btn {
	width: 50px;
	height: 50px;

    position: absolute;
    top: calc(50% - 25px);
	right: 10px;
	
	border-radius: 50%;
	box-shadow: 0px 0px 3px 0px var(--pure-black);
	cursor: pointer;

	background-image: url(../icons/bars.svg);
	background-size: 60%;
	background-repeat: no-repeat;
	background-position: center center;
    background-color: var(--btn-grey);
}

.menu-btn:active{
	box-shadow: 0px 0px 1px 0px var(--pure-black);
	background-size: 58%;
}

.menu-btn--clicked {
	background-image: url(../icons/cross.svg);
}

.context-menu {
	position: absolute;
	left: 20vmin;

    width: calc(100% - 20vmin - 64px);
	height: 100%;
	z-index: 2;

	display: flex;
	justify-content: flex-end;
	align-items: center;
	
	background-color: var(--item-background);
}

.context-menu--hidden {
	display: none;
}

.context-btn {
	width: 12vmin;
    height: 12vmin;
	border-radius: 50%;
	margin-right: 1.5vmin;

    box-shadow: 0px 0px 3px 0px var(--pure-black);
    cursor: pointer;
    
	background-color: var(--btn-grey);
	background-size: 60%;
	background-repeat: no-repeat;
    background-position: center center;
}

.context-btn:active{
	box-shadow: 0px 0px 1px 0px var(--pure-black);
	background-size: 58%;
}

.context-btn--del {
	position: absolute;
	width: 15vmin;
    height: 15vmin;
	left: -17.5vmin;
	
	background-image: url(../icons/delete.svg);
}

.context-btn--target {
	background-image: url(../icons/target.svg);
}

.context-btn--down {
	background-image: url(../icons/down.svg);
}

.context-btn--up {
	background-image: url(../icons/up.svg);
}

.context-btn--color {
	background-image: url(../icons/palette.svg);
}

.color-menu {
	position: absolute;
	left: 20vmin;
    width: calc(100% - 20vmin - 64px);
	height: 100%;
	z-index: 3;

	display: flex;
    justify-content: flex-end;
    align-items: center;

	background-color: var(--item-background);
}

.color-menu--hidden {
	display: none;
}

.color-btn {
	width: 12vmin;
    height: 12vmin;
	border-radius: 50%;
	margin-right: 1.5vmin;

    box-shadow: 0px 0px 3px 0px var(--pure-black);
    cursor: pointer;
    
	background-color: var(--btn-grey);
	background-size: 60%;
	background-repeat: no-repeat;
    background-position: center center;
}

.color-btn:active{
	box-shadow: 0px 0px 1px 0px var(--pure-black);
	background-size: 58%;
}

.color-btn--red {
	background-color: var(--item-red);
}

.color-btn--yellow {
	background-color: var(--item-yellow);
}

.color-btn--green {
	background-color: var(--item-green);
}

.color-btn--blue {
	background-color: var(--item-blue);
}

#main-btn {
	width: 25vmin;
	height: 25vmin;
	margin-top: 0.5rem;

	border-radius: 50%;
	border: none;
	outline: none;
	cursor: pointer;

	box-shadow: 0px 0px 3px 2px var(--pure-black);
	
	background-image: url(../icons/plus.svg);
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: var(--btn-green);
}

#main-btn:hover {
	background-color: var(--btn-focus-green);
}

#main-btn:active{
	box-shadow: 0px 0px 0px 0px var(--pure-black);
	background-size: 67%;
}

#clear-btn {
	display: block;
	margin-top: -17.5vmin;
	margin-left: 15%;

	width: 10vmin;
	height: 10vmin;

	border-radius: 50%;
	border: none;
	outline: none;
	cursor: pointer;

	box-shadow: 0px 0px 2px 1px var(--pure-black);
	
	background-image: url(../icons/delete_light.svg);
	background-size: 60%;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: var(--checkbox-checked);
}

#clear-btn:active{
	box-shadow: 0px 0px 0px 0px var(--pure-black);
	background-size: 57%;
}



/****************************** @MEDIA - BEGIN ******************************/
/* Medium devices (landscape tablets, 768px-->>> and up) */
@media only screen and (min-width: 768px) {

	.item {
		height: 100px;
	}

	.check-target {
		background-size: 55%;
	}
	
	.check-box {
		width: 8vmin;
		height: 8vmin;
		top: calc(50% - 4vmin);
		left: calc(50% - 4vmin);
	}

	.text-area {
		font-size: 2rem;
	}

	.context-btn {
		width: 8vmin;
		height: 8vmin;
	}

	.context-btn--del {
		width: 10vmin;
		height: 10vmin;
		left: -15vmin;
	}

	.color-btn {
		width: 8vmin;
		height: 8vmin;
	}

	#main-btn {
		width: 170px;
		height: 170px; 
	}

	#clear-btn {
		margin-top: calc(-85px - 4vmin);
		width: 8vmin;
		height: 8vmin;
	}
} 
/****************************** @MEDIA - END ******************************/