* {
    margin: 0;
    padding: 0;
}

body {
	/* звездное небо фоном */
	background: #1e1e1f;
	
	background-image: radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 5px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 5px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 5px),
	radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 2px);
	
	background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
	background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

#images {
	display: none;
}

#timer {
	position: absolute;
	top: 40px;
	left: 40px;
	width: 200px;
	color: white;
	font-size: 36px;
	font-weight: bold;
	font-family: sans-serif;
}